@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
:root {
    --main-font: "Source Sans Pro", sans-serif;
    --height-section-1: 940px;
    --height-section-2: 538px;
    --height-section-3: 692px;
    --height-section-4: 909px;
    --height-menu-bar: 938px;
    --main-color: #1d809f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    scroll-behavior: smooth;
    width: 16 88px;
}


/*menu */

.list {
    position: fixed;
    z-index: 2222;
    width: 250px;
    height: var(--height-menu-bar);
    left: 104%;
    transition: all 0.4s ease;
}

a {
    text-decoration: none;
}

.nav-link {
    color: white;
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.active {
    left: 85%;
}


/* het menu */


/* section-1 */

.section-1 {
    position: relative;
    height: 660px;
    width: 100%;
    height: var(--height-section-1);
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-position: center left;
}

.text-center.menu {
    /* margin-top: 200px; */
    position: absolute;
    top: 31%;
    left: 15%;
}

.menu-bar-icon {
    position: fixed;
    z-index: 3333;
    width: 50px;
    height: 50px;
    background: rgba(52, 58, 64, .5);
    text-align: center;
    border-radius: 5px;
    left: 95%;
    top: 2%;
}

.fa-bars {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.fa-times {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.list {
    position: fixed;
    z-index: 2222;
    width: 250px;
    height: 660px;
    left: 104%;
    transition: all .4s ease;
}

a {
    text-decoration: none;
}

.nav-link {
    color: white;
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.active {
    left: 85%;
}

.text-1 {
    font-size: 120px;
    font-weight: 600;
}

.text-2 {
    font-weight: 600;
    font-weight: bold;
    font-style: italic;
}

.btn {
    margin-top: 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: bold;
}

.btn-pd {
    padding-top: 31px;
    padding-left: 50px;
    padding-bottom: 31px;
    padding-right: 50px;
}

.btn-primary {
    background: var(--main-color);
}


/* hết section-1 */


/* section-2 */

.section-2 {
    height: 400px;
    margin-top: 150px;
    margin-left: 60px;
    width: 100%;
}
.icon{
    background: white;
    width: 112px;
    height: 112px;
    color: blue;
    
}
.fa-mobile-alt{
    font-size: 20px;
}
.text-3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 170px;
    margin-left: -36px;
    margin-right: 435px;
}

.text-4 {
    font-size: 21px;
    font-weight: 60;
    margin-left: -36px;
    margin-right: 435px;
}

.btn-secondary {
    margin-left: 302px;
    margin-right: 435px;
}

.section-3 {
    height: var(--height-section-3);
    width: 100%;
}

@media screen and(min-width: 1360px) {
    .section-1 {
        width: 1350px;
    }
    .menu-bar-icon {
        position: fixed;
        z-index: 3333;
        width: 50px;
        height: 50px;
        background: rgba(52, 58, 64, 0.5);
        text-align: center;
        border-radius: 5px;
        left: 92%;
        top: 2%;
    }
}


/* het phan icon */

.picture {
    background-image: url(images/background-image-2.jpg);
    height: 730px;
    position: relative;
    background-size: cover;
}

.text-center-sc-3 {
    padding-top: 300px;
    color: black;
}

.text-10 {
    font-size: 80px;
    font-weight: 600;
}
/* hết section -3 */
/* section-4 */

.aov{
    background-image: url(images/background-image-2.jpg);
    height: 728px;
}
.av-1{
padding-top: 250px;
}
.av-2{
    font-size: 60px;
    font-weight: bold;
}
.section-4{
    margin-top: 100px;
}
.text-11{
    color: #e67e22;
    font-size: 18px;
    font-weight: bold;
}
.text-12{
    font-weight: bold;
    font-size: 50px;
}   
.box{
    position: relative;
}
.box:hover{
    transform: scale(0.9, 0.9);
    transition: 0.5s;

}
.box-sc4-img-text{
    position: absolute;
    background-color: rgba(33,37,41,.2);
    height: 370px;
    width: 555px;

}
.box-sc4-img-text:hover{
    background-color:rgba(7, 70, 189, 0.918);
    transition: 2s;
}
.box-sc4-text{
    position: absolute;
    width:400px;
    color: white;
    top: 50%;
    left: 10%;
}
.text-13{
    font-size: 20px;
    font-weight: 10;
}
/* het section-4 */
/* section-5 */
.section-5{
    margin-top: 200px;
    height: 400px;
}
.sc-5{
    padding-top: 150px;
}
.text-14{
    font-weight: bold;
}
.btn-sc5{
    margin-left: 20px;
    padding: 20px 40px 20px 40px;
}