@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

:root {
    --main-font: "Source Sans Pro", sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

.section-1 {
    position: relative;
    height: 660px;
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-position: center left;
}

.text-center.menu {
    /* margin-top: 200px; */
    position: absolute;
    top: 25%;
    left: 10%;
}

.menu-bar-icon {
    position: fixed;
    z-index: 3333;
    width: 50px;
    height: 50px;
    background: rgba(52, 58, 64, .5);
    text-align: center;
    border-radius: 5px;
    left: 95%;
    top: 2%;
}

.fa-bars {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.fa-times {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.list {
    position: fixed;
    z-index: 2222;
    width: 250px;
    height: 660px;
    left: 104%;
    transition: all .4s ease;
}

a {
    text-decoration: none;
}

.nav-link {
    color: white;
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.active {
    left: 85%;
}

.text-1 {
    font-size: 120px;
    font-weight: 600;
}

.text-2 {
    font-weight: 600;
}

.btn {
    margin-top: 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: bold;
}

.btn-pd {
    padding: 20px 40px 20px 40px;
}

/* hết section-1 */
/* section-2 */
.section-2 {
    height: 538px;
    margin-top: 150px;
    margin-left: 60px;
}

.text-3 {
    font-size: 35px;
    font-weight: 700;
}

.text-4 {
    font-size: 21px;
    font-weight: 60;
}
/* ket thuc section-2 */
/* section-3 */
.section-3 {
    height: 910px;
}
.part-1{
    padding-top:80px;
}
.text-5{
  color: #f39c12;
  font-weight: 600;
margin-bottom: 20px;  
}
.text-6{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;  
}
.fa-mobile-alt{
    font-size: 40px;
   color: royalblue;
   animation: trgiang 1s infinite;
}
.fa-pencil-alt{
    font-size: 40px;
    color: royalblue;
    animation: trgiang 1s infinite;
}
.fa-thumbs-up{
    font-size: 40px;
    color: royalblue;
    animation: trgiang 1s infinite;
}
.fa-star{
    font-size: 40px;
    color: royalblue;
    animation: trgiang 1s infinite;
}
h4{
   margin-top: 10px;
}
.icon{
    width: 112px;
    height: 112px;
    background: white;
    border-radius: 50%;
    padding-top:35px;
    margin-left: 70px;

}
@keyframes trgiang {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }

}
/* het phan icon */
.picture{
    background-image: url(images/background-image-2.jpg);
    height: 730px;
    position: relative;
    background-size: cover;
}
.text-center-sc-3{
    padding-top: 300px;
    color: black;
}
.text-10{
    font-size: 80px;
    font-weight: 600;
}